* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --forest-green: #2F4730;
    --pine-dark: #1E2E23;
    --moss-light: #6B7F5B;

    --earth-brown: #6A4F3B;
    --clay-light: #C1A68A;
    --sand: #E9DCC7;

    --sky-blue: #AFC7D8;
    --cloud-white: #F7F5F2;

    --accent-gold: #D3B47F;

    --text-main: #2B2B2B;
    --text-light: #F2EEE9;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--text-main);
    background-color: var(--cloud-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
}

body h2 {
    font-weight: 300;
}

header {
    background: rgba(192, 200, 217, 0.402);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 20px;
    box-shadow: 0 2px 5px var(--pine-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: var(--pine-dark);
    font-weight: 300;
    transition: color 0.3s ease;
    font-size: 1.5rem;
    font-optical-sizing: auto;
}

nav a:hover {
    color: var(--forest-green);
}

.logo {
    width: 8rem;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.site-header-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}

.hero {
    z-index: 3;
    border: none;
    padding: 20vh 2rem 10vh;
    text-align: center;
    color: var(--cloud-white);
    text-shadow: 0px 3px 15px var(--text-main);
    font-family: "Cormorant Garamond", serif;
    font-size: 2rem;
    font-optical-sizing: auto;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -2;
    object-fit: cover;
    filter: brightness(60%);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 2rem 1rem;
    background: var(--sand);
    margin: 0;  
}

.footer-div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
    margin: 0 auto;
    color: var(--earth-brown);
}

.tab {
    overflow: hidden; 
    padding: 12px 24px;
    background-color: var(--cloud-white);
    text-align: center;
}

.tab button {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    background-color: var(--sand);
    color: var(--earth-brown);

    border: 1px solid var(--accent-gold);
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    margin: 0 0.3rem;
    margin-top: 0.3rem;
    cursor: pointer;
    padding: 12px 24px;
    transition: all 0.3s ease;
    font-weight: 300;
}

.tab-panel {
    border: 1.5px solid var(--accent-gold);
    background-color: var(--sand);
    padding: 2rem;
    border-radius: 0 0 12px 12px;
    margin-top: -12px;
}

.steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    gap: 2rem;

    margin: 3rem auto;
    text-align: center;
}

.steps-div {
    background-color: var(--cloud-white);
    border: 0.5px solid var(--earth-brown);
    box-shadow: 0 0 5px 2px rgba(144, 122, 103, 0.494);
    padding: 3rem 2rem;
    border-radius: 36px;
}
    